.colors-container {
  background: rgb(36, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(121, 9, 111, 1) 12%,
    rgba(51, 47, 138, 1) 26%,
    rgba(40, 150, 163, 1) 40%,
    rgba(30, 186, 106, 1) 53%,
    rgba(21, 193, 61, 1) 66%,
    rgba(48, 200, 13, 1) 77%,
    rgba(185, 204, 30, 1) 89%,
    rgba(255, 59, 0, 1) 100%
  );
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

.blur {
  width: 100vw;
  height: calc(100vh - 60px);
  backdrop-filter: blur(3px);
  display: flex;
}
