.home-container {
  background-image: url("../../assets/fondos/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
}
.blur {
  width: 100vw;
  height: calc(100vh - 60px);
  backdrop-filter: blur(10px);
  display: flex;
}
.aprendemos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.aprendemos-img-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
}
.aprendemos-img-container img {
  height: 80%;
  filter: drop-shadow(0px -1px 16px #ffffff);
  margin-top: 30px;
}
.enlaces {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}
.enlaces ul {
  display: flex;
}
.enlaces ul li {
  list-style: none;
}
.cont-enlaces-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
}
.im1 {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.absolut {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.numero {
  padding: 20px;
}
@media (max-width: 765px) {
  .blur {
    width: 100vw;
    height: calc(100vh - 40px);
    backdrop-filter: blur(10px);
    display: flex;
    margin: 0;
    padding: 0;
  }
  .aprendemos-img-container {
    height: 20%;
  }
  .aprendemos-img-container img {
    height: 80%;
  }
  .enlaces {
    margin: 20px 0px;
    height: 80%;
  }
  .enlaces ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .enlaces ul li {
    margin: 7px;
  }
}
