
.numbers-container{
    background-image: url("../../assets/fondos/cielo.jpg");
    background-size: cover;
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}
.bartolito{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}